<header class="u-align-left u-black u-clearfix u-header u-header" id="sec-5358"><div class="u-clearfix u-sheet u-sheet-1">
<nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0; font-weight: 700; text-transform: uppercase;">
            <a class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-border-no-left u-border-no-right u-border-no-top u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-grey-90 u-text-body-alt-color u-text-hover-palette-5-dark-1" href="#">
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;"><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</symbol>
</defs></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-spacing-30 u-text-body-alt-color u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-body-alt-color u-text-hover-palette-5-dark-1" href="/" style="padding: 10px 0;">ГЛАВНАЯ</a></li>
              <li class="u-nav-item"><a class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-body-alt-color u-text-hover-palette-5-dark-1" href="/shop/bicycles/" style="padding: 10px 0;">Магазин</a></li>
              <li class="u-nav-item"><a class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-body-alt-color u-text-hover-palette-5-dark-1" href="/reviews/" style="padding: 10px 0;">Отзывы</a></li>
              <li class="u-nav-item"><a class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-body-alt-color u-text-hover-palette-5-dark-1" href="/#about" style="padding: 10px 0;">О нас</a></li>
              <li class="u-nav-item"><a class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-body-alt-color u-text-hover-palette-5-dark-1" href="/#contacts" style="padding: 10px 0;">Контакты</a></li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-menu-close"></div>
              <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/" style="padding: 10px 0;">ГЛАВНАЯ</a></li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/shop/bicycles/" style="padding: 10px 0;">МАГАЗИН</a></li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/reviews/" style="padding: 10px 0;">ОТЗЫВЫ</a></li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/#about" style="padding: 10px 0;">О НАС</a></li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/#contacts" style="padding: 10px 0;">КОНТАКТЫ</a></li>
              </ul>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav><h2 class="u-align-left u-text u-text-body-alt-color u-text-default u-text-1" data-animation-name="lightSpeedIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">bybishop</h2>
      </div></header>