<!DOCTYPE html>
<html style="font-size: 16px;">
    {% include 'head.html' with css='reviews' title='Отзывы' %}
  <body class="u-body">
    {% include 'header.html' %}
    <section class="u-align-left u-clearfix u-palette-1-dark-3 u-section-1" id="carousel_07fc">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-custom-font u-font-oswald u-text u-text-1" data-animation-name="slideIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="Left">Отзывы</h2>
        <p class="u-text u-text-2" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">Мы приносим в жизнь движение.<br>
        </p>
        <a href="/reviews/leave_review/" class="u-border-2 u-border-grey-dark-1 u-btn u-btn-rectangle u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-1" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">Оставить отзыв</a>
        <div class="u-expanded-width u-list u-repeater u-list-1">

            {% for el in revs %}
                <div class="u-align-left u-border-2 u-border-black u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-1">
                    <div class="u-container-layout u-similar-container u-container-layout-1">
                        <p class="u-text u-text-3" data-animation-name="zoomIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">{{el.text}}</p>
                        <h5 class="u-text u-text-default u-text-4" data-animation-name="jackInTheBox" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">{{el.name}}</h5>
                    </div>
                </div>
            {% endfor %}

        </div>
      </div>
    </section>
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-a490"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <p class="u-small-text u-text u-text-default u-text-variant u-text-1">BYBishop company<br>2011 - 2020
        </p>
      </div></footer>
  </body>
</html>